/* html,
body {
  height: 100%;
}
.warp {
  text-align: center;
  height: 100px;
}

.p-ver {
  line-height: 100px;
}

.d-ver1 {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background: gray;
} */

.wrap {
  position: absolute;
  width: 300px;
  height: 300px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: pink;	/* 方便看效果 */
}

/* .warp-in {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: red;
} */
